#header{
    font-size: 35px;
    font-style: oblique;
    color:fuchsia;
    text-align: center;
}

a{
    color: antiquewhite;
}

.capitalize{
    text-transform: capitalize;
}

body{
    background-image: url("../img/wood-591631_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
}

